

#main-jumbo {
	background-image: url('https://wallpaperplay.com/walls/full/c/d/a/313296.jpg');
	background-position: center;
	background-size: cover;
	color: white;
	margin-bottom: 0;
}


nav {
	margin-bottom: 32px;
}